.todo-form > h1, p {
    color: #FFFFFF
}

.todo-form > h1 {
    font-weight: 700;
    letter-spacing: 7px;
    font-size: 2em;
}

.todo-form {
    position: relative;
    margin: -10em 1.5em 0 1.5em;
}

.todo-list {
    background-color: hsl(235, 24%, 19%);
    border-radius: 5px;
}

@media screen and (min-width: 1000px) {
    .todo-form {
        margin: -10em 30% 0 30%;
    }
}