.todo-info {
    justify-content: space-between;
    background-color: hsl(235, 24%, 19%);
    font-family: 'Josefin Sans';
    padding-bottom: 16px;
    padding-top: 16px;
   
}

.todo-info > button {
    background: transparent;
    border: none;

}

.todo-info > p, button {
    font-size: 12px;
    font-weight: 700;
    color: rgba(119, 122, 146, 0.5);
}