@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
    --Very-Dark-Blue: hsl(235, 21%, 11%);
    --tamanho-fonte: 16px;
    --fonte-principal: 'Josefin Sans'
  }

body {
    background-color: var(--Very-Dark-Blue) ;
}

.app {
    font-family: var(--fonte-principal);
    font-size: var(--tamanho-fonte);
    margin: 0 auto;
    box-sizing: border-box;
    height: 100vh;
    /* max-width: 375px; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

/* Estilos de entrada */
.notice-enter {
    opacity: 0;
    transform: translateY(100%);
  }
  
  .notice-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms, transform 500ms;
  }
  
  /* Estilos de saída */
  .notice-exit {
    opacity: 1;
    transform: translateY(0);
  }
  
  .notice-exit-active {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 500ms, transform 500ms;
  }
  
  .notice {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 100px;
    background-color: hsla(235, 21%, 11%, 0.5);
    color: hsl(233, 11%, 84%);;
    border: 1px solid hsla(233, 11%, 84%, 0.5);
    padding: 10px;
    font-size: 15px;
    text-align: center;
  }
  
@media screen and (min-width: 1000px) {
    .app { 
        max-width: 1000px;
    }

    .notice {
        right: 20%;
    }
}