    .todo {
    display: flex;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #ffffff0f;
}

.todo > p {
    font-weight: 400;
    font-size: 14px;
    color: hsl(233, 11%, 84%);
}

.remove, .complete {
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        padding: 1em;
}

.remove {
    margin-left: auto;
    background-image: url('../../assets/img/icon-cross.svg');
    background-size: 40%;
}

.complete {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        padding: 10px;
        margin-right: 10px;
        border-width: 1px; 
        border-style: solid;
        border-color: hsl(237, 14%, 26%);
       
        
}

@media screen and (min-width: 1000px){
    .complete:hover {

    border-color:hsla(280, 87%, 65%, 0.5);
}
}


